/*
* ----------------------------------------------------------------------------------------
Author       : Tanvir Rahman Hridoy
Author  Uri  : www.hridoy.me
Template Name: I'm Lorex Creative Personal Portfolio Template
Version      : 1.0                                          
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -MENU CSS STYLE
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.PORTFOLIO CSS STYLE
* 07.TESTIMONIAL CSS STYLE
* 08.BLOG CSS STYLE
* 09.CONTACT DETAILS CSS STYLE
* 10.CONTACT DESIGN AREA
* 11.FOOTER CSS STYLE
* 12.COMPANY LOGO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 28px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 100px 0px;
}

.no-padding {
    padding: 0;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 0;
    color: #1b1b1b;
    text-transform: capitalize
}

.section-title p {
    padding: 0px 250px;
}

.white-title h2 {
    color: #fff;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background: #EA0026;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}



/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -17px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 6px solid #ccc;
    border-right: 6px solid #ccc;
    border-bottom: 6px solid #ccc;
    border-left: 6px solid #aeaeae;
    border-radius: 50%;
    -webkit-animation: spinner 1000ms infinite linear;
    animation: spinner 1000ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header-text .home-arrow-down {
    text-align: center;
    position: absolute;
    bottom: -212px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-text .home-arrow-down .btn {
    font-size: 30px;
}

.header-text .home-arrow-down .fa {
    color: #000;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-name: home-arrow-down;
    animation-name: home-arrow-down;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.welcome-image-area {
    height: 100%;
    background: #fff;
    box-shadow: 0 16px 40px #ededed;
}


.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin-top: 60px;
}

.header-text h2 {
    color: #000;
    font-size: 100px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-text h2 span {
    color: #EA0026;
}

.header-text h1 {
    font-size: 30px;
}

.header-text p {
    color: #f8f8f8;
    font-size: 16px;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo {
    padding-top: 35px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a p {
    font-size: 24px;
    font-weight: 300;
    color: #000;
    text-transform: capitalize;
}

.mainmenu .navbar-nav li {
    margin-right: 30px;
}

.mainmenu .navbar-nav li a {
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #aeaeae;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    background: #fff;
    border: none;
}

.menu-bg .logo {
    padding-top: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo a p {
    color: #330f33;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #330f33;
    padding-top: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    padding-bottom: 22px;
}

.menu-bg .mainmenu .navbar-nav li.active a {
    color: #aeaeae;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #aeaeae;
}


/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.about-me-area{
    padding: 130px 0px;
}
.about-me-left {
    text-align: right;
    position: relative;
}
.about-me-left::before {
	position: absolute;
	left: 15%;
	bottom: -13%;
	content: '';
	height: 126%;
	width: 70%;
	border: 20px solid rgba(234, 0, 38, .5);
}

.about-me-right h2 {
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 42px;
}

.about-me-right h3 {
    color: #EA0026;
    font-size: 12px;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-me-right p {
    margin-bottom: 20px;
    color: #333;
    font-weight: 300;
}

.about-me-right a {
    display: inline-block;
    background: #1B1B1B;
    padding: 8px 18px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}

.about-me-left img {

}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {
    background: #F7F7F7;
}

.single-service {
    padding-right: 20px;
    background: #fff;
    text-align: center;
    padding: 80px 30px;
    ;
}

.service-icon i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #EA0026;
}

.single-service h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 20px 0px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
    font-weight: 400;
}

.single-service p {
    color: #333;
    font-size: 16px;
}




/*
* ----------------------------------------------------------------------------------------
* 06.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work-area {
    background: #fff;
    box-shadow: 0 16px 40px #ededed;
}

.work-inner .mix {
    display: none;
}

ul.work {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

ul.work li {
    display: inline-block;
    padding-bottom: 4px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #938d8d;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

ul.work li:hover {
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
}

ul.work li.active {
    color: #000;
}

.work-area .item {
    padding: 0;
    margin: 0;
}

.work-area .col-md-6 {
    padding: 0;
    margin: 0;
}

.work-area figure.effect-ruby img {
    height: auto;
    width: 100%;
}

.work-area .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.work-area .grid figure:hover {
    background: #000;
}

.work-areafigure.effect-ruby h2 {
    margin-top: 30%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 30px;
}

.work-area figure.effect-ruby p {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    padding: 0;
    margin: 10px 0px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 180px;
    border: 1px solid #EA0026;
    display: inline-block;
    padding: 5px 10px;
    background: #EA0026;
}


/*
* ----------------------------------------------------------------------------------------
* 07.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #fff;
    box-shadow: 0 16px 40px #ededed;
}

.single-testi-des i {
    font-size: 30px;
    color: #aeaeae;
    margin-bottom: 20px;
}

.single-testi-des,
.testi-name {
    text-align: center;

}

.single-testi-des p {
    font-size: 20px;
    line-height: 32px;
}


.testi-name h2 {
    font-size: 18px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.testi-name h3 {
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 0;
}


.testimonial-area .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #EA0026;
    height: 35px;
    width: 70px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}


/*
* ----------------------------------------------------------------------------------------
* 08.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-area {
    box-shadow: 0 16px 40px #ededed;
}

.single-blog {
    margin-right: 30px;
    margin-top: 30px;
}

.single-blog h5 {
    font-weight: 300;
    font-size: 12px;
}

.single-blog h3 {
    color: #333;
    padding: 10px 15px;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 3px;
}

.single-blog h2 {
    margin-top: 0;
}

.single-blog h2 a {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: #000;
}

.single-blog p {
    padding-bottom: 50px;
}

.blog-description {
    padding: 20px 30px;
    border: 1px solid #f8f8f8;
    text-align: center;
}

.blog-area .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #EA0026;
}


/*
* ----------------------------------------------------------------------------------------
* 09.CONTACT DETAILS CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-details-area {}

.single-contact-info {
    text-align: center;
}

.single-contact-info i {
    font-size: 60px;
    color: #EA0026;
}

.single-contact-info h2 {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 3px;
}

.single-contact-info p {
    margin-bottom: 0;
    color: #333;
}


/*
* ----------------------------------------------------------------------------------------
* 10.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-area {
    background: #F4F4F4;
}


.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 17px 7px 14px 15px;
    border: 1px solid #f2f2f2;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 30px;
}

.form-control:focus {
    border-color: #aeaeae;
    outline: 0;
    box-shadow: none;
}

.contact-form button {
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #EA0026;
    background-color: #EA0026;
    font-weight: 600;
    width: 200px;
    margin-bottom: 0;
}

.contact-form button:hover {
    background: transparent;
    color: #EA0026;
    border: 1px solid #aeaeae;
    ;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

#contact .text-success,
#contact .text-danger {
    display: none;
}

.text-success {
    text-align: center;
    background: #3c763d;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.text-danger {
    text-align: center;
    background: red;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 11.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 60px 0px;
}

.footer-text h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

.footer-text p {
    text-transform: capitalize;
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
    color: #f7f7f7;
    padding: 0px 200px;
    margin-bottom: 20px;
}

.social-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-links ul li {
    display: inline-block;
    margin: 0px 10px;
}

.social-links ul li a {
    display: block;
    color: #aeaeae;
}

/*
* ----------------------------------------------------------------------------------------
* 12.COMPANY LOGO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.company-logo-area {

}

.single-company-logo {
    text-align: center;
}

.single-company-logo img {
    width: 130px;
}
