/*
* ----------------------------------------------------------------------------------------
Author       : Tanvir Rahman Hridoy
Author  Uri  : www.hridoy.me
Template Name: I'm Lorex Creative Personal Portfolio Template
Version      : 1.0                                          
* ----------------------------------------------------------------------------------------
*/

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .mainmenu .navbar-nav li {
        margin-right: 26px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .logo {
        text-align: center;
    }
    .single-blog img {
        width: 100%;
    }
    .pricing-box {
        margin-top: 30px;
    }
    .project-idea h2,
    .project-idea p {
        font-size: 22px;
    }
    .single-project-complete {
        margin-top: 30px;
    }
    .about-text {
        margin-top: 50px;
    }
    .section-title p {
        padding: 0;
    }
    .contact-icon {
        float: none;
    }
    .call-to-action-small-button {
        text-align: left;
        margin-top: 25px;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav li {
        float: none;
        display: inline-block;
    }
    .menu-bg .logo {
        padding-top: 25px;
    }
    .mainmenu .navbar-nav li {
        margin-right: 12px;
    }
    .single-contact-info {
        margin-bottom: 30px;
    }
    .bubbles h1 {
        font-size: 80px;
    }
    .single-what {
        margin-bottom: 30px;
    }
    .video-area-text p {
        padding: 0px 50px;
    }
    .about-me-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .about-me-left img {
        width: 300px;
    }
    .single-testimonial {
        padding: 0px 110px;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .footer-text p {
        padding: 0;
    }
    .header-text h2 {
        font-size: 70px;
    }
    .about-me-left::before {
        position: absolute;
        left: 35%;
        bottom: -11%;
        content: '';
        height: 124%;
        width: 30%;
        border: 20px solid rgba(234, 0, 38, .5);
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .about-me-right {
        text-align: center;
    }
    .navbar-toggle .icon-bar {
        background: #000;
    }
    .menu-bg .navbar-toggle .icon-bar {
        background: #000;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -45px;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-collapse {
        background: #000;
    }
    .menu-bg .navbar-collapse {
        background: #000;
    }
    .mainmenu .navbar-nav li a {
        color: #fff;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        color: #fff;
    }
    .menu-bg .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .menu-bg .navbar-collapse {}
    .welcome-image-area,
    .welcome-video-area {
        padding-top: 120px;
    }
    .welcome-image-area h2,
    .single-slide-item h2,
    .welcome-video-area h2,
    .about-text h2,
    .call-to-area-text h2 {
        font-size: 40px;
    }
    .slider-control {
        display: none;
    }
    a.slide-btn {
        font-size: 12px;
        padding: 10px;
        margin-bottom: 5px;
    }
    .section-title h2,
    .video-area-text h2,
    .get-text h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .footer-social-link {
        text-align: left;
        margin-top: 20px;
    }
    .pricing-box {
        margin-top: 30px;
    }
    .single-testimonial {
        padding: 0;
    }
    .video-area-text {
        margin-top: 50px;
    }
    .footer-social-link {
        text-align: center;
    }
    .footer-area img {
        margin-bottom: 0px;
    }
    .scrollup {
        height: 40px;
        width: 40px;
        line-height: 35px;
    }
    .single-project-complete {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    .header-text {
        margin-top: 10px;
    }
    .footer-text h6 {
        font-size: 12px;
    }
    .footer-area {
        padding: 50px 0px;
    }
    .section-padding {
        padding: 40px 0px;
    }
    .single-testimonial {
        margin-right: 30px;
        margin-left: 30px;
    }
    .about-text {
        margin-top: 30px;
    }
    .margin-top-c {
        margin-top: 0px;
    }
    .section-title p {
        padding: 0;
    }
    .section-title h2::before {
        top: 40px;
    }
    .single-contact-details {
        margin-bottom: 30px;
    }
    .item .grid figure,
    .gallery .grid figure {
        min-width: 100%;
    }
    .call-to-action-small-button {
        text-align: left;
        margin-top: 25px;
    }
    .single-contact-info {
        margin-bottom: 30px;
        text-align: center;
    }
    .bubbles h1 {
        font-size: 50px;
    }
    .single-what {
        margin-bottom: 30px;
    }
    .video-area-text {
        padding: 0px;
    }
    .about-me-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .about-me-left h2 {
        font-size: 30px;
    }
    .video-area-text p {
        padding: 0px;
    }
    .about-me-left img {
        width: 200px;
        margin-bottom: 30px;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .footer-text p {
        padding: 0;
    }
    .about-me-left::before {
        position: absolute;
        left: 38%;
        bottom: 6%;
        content: '';
        height: 104%;
        width: 25%;
        border: 10px solid rgba(234, 0, 38, .5);
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}
